/* Shared */
.form button:hover,
#search-form button:hover,
#add-exercise-link:hover,
#exercise button:hover,
.day button:hover,
.workout:hover,
#delete-workout-btn:hover,
#edit-workout-btn:hover {
    box-shadow: none;
}

.error-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
}

/* NavBar */
nav {
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #a8dbfffc;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 20vw repeat(8, 1fr) 20vw;
    grid-template-areas: 
        ". title . . . about exercises workouts auth .";
    place-items: center;
}

nav * {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#navbar-title {
    grid-area: title;
    font-size: xx-large;
    font-weight: bold;
}

#navbar-about {
    grid-area: about;
    width: 100%;
    border-left: 2px solid white;
    font-size: medium;
}

#navbar-exercises {
    grid-area: exercises;
    font-size: medium;
}

#navbar-workouts {
    grid-area: workouts;
    font-size: medium;
}

#navbar-auth {
    grid-area: auth;
    width: 90%;
    border-left: 2px solid white;
    font-size: medium;
}

/* Home */
#home {
    padding-top: 8vh;
}

#home-box {
    background: linear-gradient(to bottom right, rgb(197, 231, 255), rgb(20, 157, 255));
}

#home-box-background {
    height: 92vh;
    background-image: url('../public/about-head.jpeg');
    background-clip: text;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1{
    color: #00000000;
    font-size: 18em;
    margin: 0;
    padding-top: 25vh;
}

/* About */
#about {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-head {
    background: linear-gradient(to bottom right, rgb(197, 231, 255), rgb(20, 157, 255));
}

#about-head-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    place-content: center;
}

#about-head h1 {
    width: 40vw;
    color: #000000;
    font-size: 6em;
    padding-top: 10vh;
}

#about-head h1 span {
    color: #ad2525;
    font-size: larger;
}

#about-head h1,
#about-body-box-2 h1,
#about-body-box-4 h1 {
    text-align: right;
}

#about-body {
    display: grid;
    grid-template-rows: repeat(4, 46vh);
}

.about-body-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
    place-items: center;
    padding: 0 25vw;
}

#about-body-box-1 {
    background-color: #abddff;
}

#about-body-box-1 h1 span {
    color: #ad8425;
    font-size: larger;
}

#about-body-box-2 {
    background-color: #87cdff;
}

#about-body-box-2 h1 span {
    color: #33ad25;
    font-size: larger;
}

#about-body-box-3 {
    background-color: #5abaff;
}

#about-body-box-3 h1 span {
    color: #2a25ad;
    font-size: larger;
}

#about-body-box-4 h1 span {
    color: #8f25ad;
    font-size: larger;
}

.about-body-box img {
    width: 35vw;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

/* Auth */
#login {
    padding-top: 25vh;
}

#signup {
    padding-top: 15vh;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box {
    background-color: #a8dbff;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    margin-bottom: 0;
    padding: 50px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.form * {
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.form input {
    margin-bottom: 3vh;
}

.form button {
    width: 100%;
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 5px 0;
}

.auth-switch-prompt {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.auth-switch-btn {
    background: none;
    border: none;
    font-size: medium;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 3px;
}

/* AllExercises */
#all-exercises {
    display: grid;
    grid-template-columns: 15vw 1fr 15vw;
    grid-template-areas:
        '. header .'
        '. exercise-container .'
        '. page-navigation .';
    justify-items: center;
    padding-top: 11vh;
}

#all-exercises-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form * {
    border: none;
    border-radius: 5px;
    font-size: medium;
    margin-right: 5px;
    padding: 5px;
}

#search-form input {
    width: 15vw;
}

#search-form button {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#add-exercise-link {
    grid-area: add-exercise;
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    color: black;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    margin-left: 3vw;
    padding: 8px;
}

#exercise-container {
    grid-area: exercise-container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh 5vw;
    margin-top: 5vh;
}

#no-results-msg {
    grid-area: exercise-container;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 25vh 0;
}

#page-navigation {
    grid-area: page-navigation;
    margin: 8vh 0;
}

#pagination {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#pagination * {
    margin: 0;
    padding: 0;
    place-self: center;
}

.navigation {
    font-size: xx-large;
}

#pagination button {
    background: none;
    border: none;
    cursor: pointer;
}

#show-pages {
    width: 25vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

#current-page {
    font-weight: bolder;
    font-size: xx-large;
}

/* Exercise */
#exercise {
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-rows: 8vh;
    padding: 10px;
}

#exercise h3 {
    place-self: center;
    text-align: center;
}

#exercise div {
    display: flex;
    justify-content: center;
}

#exercise img {
    border-radius: 20px;
}

#exercise p {
    margin: 1vh;
}

#exercise button {
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    align-self: flex-start;
    font-size: large;
    cursor: pointer;
    margin-top: 2vh;
    padding: 8px;
}

/* NewExercise */
/* Shared with Auth */
#new-exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}

.form select {
    margin-bottom: 1vh;
}

/* UserWorkouts */
#user-workouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11vh;
}

#week {
    width: 71vw;
    height: 75vh;
    background-color: #0095ff4f;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    margin-bottom: 3vh;
    padding: 10px;
}

.day {
    display: flex;
    align-items: center;
}

.day button {
    width: 7vw;
    height: 10vh;
    background: #c2e5ff;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.464);
    font-size: large;
    cursor: pointer;
}

.workouts-container {
    display: flex;
    column-gap: 1vw;
    padding-left: 1vw;
}

#delete-workout-btn {
    background: linear-gradient(to bottom right, #ff9090, #ff5a5a);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    font-size: large;
    cursor: pointer;
    place-self: center;
    padding: 5px;
}

#edit-workout-btn {
    background: linear-gradient(to bottom right, #8bcefe, #2aa6ff);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    font-size: large;
    cursor: pointer;
    place-self: center;
    padding: 5px;
}

/* Workout */
.workout {
    width: 7vw;
    height: 10vh;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-rows: 6vh;
    font-size: small;
    cursor: pointer;
}

.workout-name {
    place-self: center;
    font-weight: bold;
    text-align: center;
}

.workout-info {
    display: flex;
    justify-content: space-evenly;
}

#workout-delete-on {
    background: linear-gradient(to bottom right, #ff9090, #ff5a5a);
}

#workout-delete-off {
    background: linear-gradient(to bottom right, #8bcefe, #2aa6ff);
}

/* NewWorkout EditWorkout */
.update-workout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}

.update-workout form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
}

.update-workout-info {
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.update-workout-info h1 {
    font-size: xx-large;
}

.update-workout-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-workout-details select {
    margin-bottom: 2vh;
}

.update-workout-details img {
    width: 250px;
    border-radius: 20px;
}

/* PageNotFound Loading LoginPrompt */
.flex-center {
    display: flex;
    place-content: center;
    padding-top: 40vh;
}
