/* Shared */
.error-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
}

.select-exercise {
    font-size: x-large;
}

/* NavBar */
nav {
    height: 8vh;
    width: 100%;
    background-color: #a8dbfffc;
    position: fixed;
    display: grid;
    grid-template-columns: 20vw repeat(8, 1fr) 20vw;
    grid-template-areas: 
        ". title . . . about exercises workouts auth .";
    place-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

nav * {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#navbar-title {
    grid-area: title;
    font-size: xx-large;
    font-weight: bold;
}

#navbar-about {
    grid-area: about;
    font-size: medium;
    border-left: 2px solid white;
    width: 100%;
}

#navbar-exercises {
    grid-area: exercises;
    font-size: medium;
}

#navbar-workouts {
    grid-area: workouts;
    font-size: medium;
}

#navbar-auth {
    grid-area: auth;
    font-size: medium;
    border-left: 2px solid white;
    width: 90%;
}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
}

#home img {
    width: 60vw;
}

#home h1{
    text-transform: uppercase;
    font-size: 5em;
    color: #000000;
    margin: 0;
}

#home p {
    font-weight: bold;
    font-style: italic;
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
}

/* Auth */
#login {
    padding-top: 25vh;
}

#signup {
    padding-top: 15vh;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 0;
    background-color: #a8dbff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.auth form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: 100%;
}

.auth form label {
    font-size: medium;
}

.auth form input {
    margin-bottom: 3vh;
}

.auth form button {
    width: 100%;
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    border: none;
    border-radius: 10px;
    font-size: medium;
    padding: 5px 0;
    cursor: pointer;
}

.auth-switch-prompt {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.auth-switch-btn {
    background: none;
    border: none;
    font-size: medium;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 3px;
}

/* AllExercises */
#all-exercises {
    display: grid;
    grid-template-columns: 23vw 1fr 1fr 1fr 23vw;
    grid-template-areas:
        '. search-filter search-filter add-exercise .'
        '. exercise-container exercise-container exercise-container .'
        '. . page-navigation . .';
    justify-items: center;
    padding-top: 11vh;
}

#search-filter-form {
    grid-area: search-filter;
    display: flex;
    align-items: center;
    width: 100%;
}

#search-filter-form input, #search-filter-form select {
    border: none;
    border-radius: 8px;
    font-size: large;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
}

#add-exercise-link {
    grid-area: add-exercise;
    place-self: end;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    font-size: large;
    color: black;
    padding: 8px;
}

#exercise-container {
    grid-area: exercise-container;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5vh;
    column-gap: 5vw;
}

#page-navigation {
    grid-area: page-navigation;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'back-btn next-btn';
    margin: 8vh 0;
    width: stretch;
}

#back-btn {
    grid-area: back-btn;
    place-self: start;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: large;
    padding: 8px;
    cursor: pointer;
}

#next-btn {
    grid-area: next-btn;
    place-self: end;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: large;
    padding: 8px;
    cursor: pointer;
}

/* Exercise */
#exercise {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

#exercise img {
    width: 300px;
    border-radius: 20px;
}

#exercise p {
    margin: 1vh;
}

#exercise button {
    align-self: flex-start;
    margin-top: 2vh;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    font-size: large;
    padding: 8px;
    cursor: pointer;
}

/* NewExercise */
#new-exercise {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-exercise-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 0;
    background-color: #a8dbff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

#new-exercise-box form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: 100%;
}

#new-exercise-box form label {
    font-size: medium;
}

#new-exercise-box form input {
    margin-bottom: 3vh;
}

#new-exercise-box form button {
    width: 100%;
    background: linear-gradient(to bottom right, #73c5ff, #2aa6ff);
    border: none;
    border-radius: 10px;
    font-size: medium;
    padding: 5px 0;
    cursor: pointer;
}

/* UserWorkouts */
#my-workout {
    display: grid;
    grid-template-rows: 10vh 1fr;
    justify-items: center;
    margin-top: 3vh;
}

table {  
    margin-top: 3vh;
    background-color: rgb(255, 255, 255);
}

tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

th {
    border: 2px solid;
    border-top: none;
}

td {
    border: 2px solid;
    border-bottom: none;
}

#edit-delete-btns {
    display: flex;
    margin: 5vh;
}

#edit-workouts-btn {
    color: blue;
    margin: 0 5vw;
}

#delete-workouts-btn {
    color: red;
    margin: 0 5vw;
}

#view-exercises-btn {
    margin: 0 5vw;
}

#please-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

/* Workout */
#workout-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1vh;
    border-bottom: 2px dashed;
}

#workout-name {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 16px 0;
}

#workout-name-edit {
    background: none;
    border: none;
    font-size: 16px;
    color: blue;
    text-align: left;
    cursor: pointer;
    margin: 16px 0;
    padding: 0;
}

#workout-name-delete {
    background: none;
    border: none;
    font-size: 16px;
    color: red;
    text-align: left;
    cursor: pointer;
    margin: 16px 0;
    padding: 0;
}

#workout-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1vh;
}

/* MyExercise */
#my-exercise-info {
    display: flex;
    align-items: center;
}

/* LoginPrompt */
#login-prompt {
    display: flex;
    justify-content: center;
}

#log-in-prompt-img {
    margin-top: 18vh;
    border-radius: 30px;
}
