/* NavBar.js */
nav {
  background-color: rgb(0, 0, 0);
  font-size: x-large;
  height: 10vh;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
nav h1 {
  color: rgb(255, 255, 255);
}

/* Shared */
.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

label {
  font-size: large;
}

input {
  font-family: Impact, fantasy, -apple-system;
  font-size: large;
  margin-bottom: 3vh;
}

.login-signup-btn {
  font-family: Impact, fantasy, -apple-system;
  font-size: xx-large;
  width: fit-content;
}

.login-signup-switch-btn {
  font-family: Impact, fantasy, -apple-system;
  font-size: large;
  width: fit-content;
}
