body {
    background: radial-gradient(white, #a8dbff);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    min-height: 100vh;
    margin: 0;
}
